services:
  nuxt:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
    container_name: rick-and-morty-app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    command: npm run dev
